.home {
  padding-left: 20px;
  margin-top: 20px;
  max-width: 1000px;
  .home-input {
    max-width: 800px;
    .textbox-250 {
      height: 250px;
    }
  }
}

.btn-right {
  float: right;
  margin-top: 15px;
}

.pod-audio {
  margin-top: 60px;
}
