<div class="home">
  <p>Place your text and hit <b>PODIFY</b></p>
  <form>
    <div class="form-group">
      <label for="Name">Name</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter name"
        name="name"
        [(ngModel)]="name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Your Text</label>
      <textarea
        class="form-control"
        rows="3"
        [(ngModel)]="text"
        name="text"
        placeholder="Enter your text to speech"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="startPodify()">PODIFY</button>
  </form>
  <div>
    <audio class="pod-audio" *ngIf="linkToFile != ''" controls="controls">
      Your browser does not support the &lt;audio&gt; tag.
      <source [src]="linkToFile" />
    </audio>
  </div>
</div>
