<div class="top-margin-40">
  <h3 class="left">Your pods</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Text</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pod of pods | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ pod.name }}</td>
        <td>{{ pod.text }}</td>
        <td>
          <audio class="pod-audio audio-player" *ngIf="pod.url != ''" controls="controls">
            Your browser does not support the &lt;audio&gt; tag.
            <source [src]="pod.url" />
          </audio>
        </td>
      </tr>
    </tbody>
  </table>
</div>
